$navbar-default-bg: #3daedb;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.2em;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('44115742_10161192606965651_7960070714554318848_n.jpg');
  background-size: contain;
  height: 850px;
}

.jumbotron h1 {
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.5em;
  background-color: black;
}

.post-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.post-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.post-title {
  font-weight: bold;
  font-size: 1.5em;
}

.post-body {
  border-top: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  color: #777;
}

footer small {
  float: left;
}
